attr==0.3.2
backports.statistics==0.1.0
ConfigParser==7.2.0
cryptography==50.0.1
docutils==0.23
filelock==4.0.6
h2==4.4.1
HTMLParser==0.0.2
ipython==9.17.1
ipywidgets==8.1.9
jnius==1.1.0
js==1.0
keyring==25.7.0
pyodide==0.0.2
pyOpenSSL==26.4.0
redis==8.1.0
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.16.0
xmlrpclib==1.0.1
